body {
    font-family: 'Matemasie', sans-serif;
}
header {
    background: linear-gradient(270deg, #ff7e5f, #feb47b, #6a82fb, #fc5c7d);
    color: #000000;
    padding: 10px 0;
    text-align: center;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: #fff;
}
.social-links {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.social-links a img {
    width: 40px;
    height: 40px;
    transition: transform 0.3s ease;
}

.social-links a img:hover {
    transform: scale(1.2);
}

body {
    margin: 0;
    padding: 0;
    height: 100vh; /* Đảm bảo nền bao phủ toàn bộ chiều cao màn hình */
    background: linear-gradient(270deg, #ff7e5f, #feb47b, #6a82fb, #fc5c7d);
    background-size: 800% 800%;
    animation: gradientBackground 10s ease infinite;
}

@keyframes gradientBackground {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.container {
    text-align: center; /* Căn giữa theo chiều ngang */
}

